{% extends "base.html" %}
{% block title %}
  Анфиса для друзей. Каталог мороженого
{% endblock %}
{% block content %}
  <h1 class="pb-2 mb-0">Каталог мороженого</h1>
  <div class="row">
    {% for ice_cream in ice_cream_list %}
      <div class="col-6 col-md-4 my-1">
        <div class="card">
          <img 
            class="img-fluid card-img-top"
            height="400" width="300"
            {% if ice_cream.title == 'Классический пломбир' %}
              src="https://www.auchan.ru/f/c/insecure/w:520/plain/https://www.auchan.ru/files/original/28129641/"
            {% elif ice_cream.title == 'Мороженое с кузнечиками' %}
              src="https://avatars.mds.yandex.net/i?id=e799142b8b973bbd2effadcda8ec08a6_l-4283943-images-thumbs&n=13"
            {% elif ice_cream.title == 'Мороженое со вкусом сыра чеддер' %}
              src="https://i2021.otzovik.com/2021/04/22/11825070/img/981736_64832636.jpeg"
            {% endif %}
            >
          <div class="card-body">
            <h5 class="card-title">{{ ice_cream.title }}</h5>
            <p class="card-text">
              {{ ice_cream.description|truncatewords:10 }}
            </p>
            <a class="mt-3 regular-link" href="{% url 'ice_cream:ice_cream_detail' ice_cream.id %}">
                Подробнее -->
            </a>
          </div>
        </div>
      </div>
      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% endfor %}
    </div>
{% endblock %}